body {
    font: {
        size: 24px;
        weight: 500;
    }

    /*
        -> font-size: 24px
        -> font-weight: 500
    */
}

.portfolio p {
    text: {
        align: center;
        overflow: hidden;
        transform: uppercase;
    }
    
}